{
    "plugins": [
        "@typescript-eslint"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 2020,
        "sourceType": "module",
        "project": "./tsconfig.json",
        "tsconfigRootDir": "./",
        "createDefaultProgram": true
    },
    "extends": [
        "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        "@typescript-eslint/no-inferrable-types": "off",
        "no-debugger": "off",
        "no-console": "off",
        "no-multiple-empty-lines": ["error", {"max": 1, "maxBOF": 0}],
        "useTabs": "off",
        "no-prototype-builtins": "off",
        "max-len": ["warn", {"code": 120, "ignoreStrings": true, "ignoreRegExpLiterals": true}],
        "space-before-blocks": ["error", "always"],
        "space-before-function-paren": ["error", "never"],
        "space-in-parens": ["error", "never"],
        "block-spacing": ["error", "always"],
        "no-empty": ["error", {"allowEmptyCatch": true}],
        "keyword-spacing": ["error", {
            "overrides": {
                "if": {"after": false},
                "for": {"after": false},
                "while": {"after": false},
                "catch": {"after": false},
                "switch": {"after": false}
            }
        }],

        "padding-line-between-statements": "off",
        "semi": ["error", "always"],
        "no-param-reassign": "off",
        "no-return-assign": "off",
        "no-sequences": "off",
        "no-shadow": "off",
        "prefer-rest-params": "off",
        "@typescript-eslint/no-var-requires": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/explicit-module-boundary-types": "off",
        "@typescript-eslint/no-empty-function":"off",
        "@typescript-eslint/ban-ts-comment": "off",
        "@typescript-eslint/no-empty-interface": "off",
        "@typescript-eslint/no-namespace": "off",
        "@typescript-eslint/no-this-alias": "off",
        "@typescript-eslint/no-non-null-assertion": "off",
        "no-var": "off"
    }
}
